.idea
.vscode
*.iml
vendor/*
!/vendor/composer/
!/vendor/composer/**
!/vendor/firebase/
!/vendor/firebase/**
!/vendor/autoload.php
/build/
node_modules/
/.php_cs.cache
js/*hot-update.*
.DS_Store
.phpunit.result.cache

## VSCode
.vscode/
*.code-workspace
