.idea
.vscode
*.iml
/vendor/
/build/
node_modules/
/.php_cs.cache
js/*hot-update.*
.DS_Store
.phpunit.result.cache

## VSCode
.vscode/
*.code-workspace
js/oidc-main.js.LICENSE.txt
js/oidc-redirect.js.LICENSE.txt
